mixin input(id, type, label)
    .input-field
        input(id= id, type= type).project-input
        label(for= id).project-label= label
        span.error-text Неправильный email

mixin error(id, type, label)
    .input-field.error
        input(id= id, type= type).project-input
        label(for= id).project-label= label
        span.error-text.open Неправильный email

mixin textarea(id, label)
    .input-field.error
        textarea(id= id).project-textarea
        label(for= id).project-label= label
        span.error-text error

mixin contact-card(src, title, pos, link, descr)
    article.contact-card
        .contact-card__container
            .contact-card__img-wrapper
                img(src= src, width="150", alt= title).contact-card__img
            .contact-card__info
                h3.contact-card__title= title
                span.contact-card__pos= pos
                p.contact-card__descr= descr
                a(href="#").contact-card__link.link= link

mixin card(src, title)
    article.card
        a(href="#").card__link
            .card__img-wrap
                img(src= src, width="572", alt= title).card__img
            .card__wrapper
                .h2.card__title.card__title--arrow= title
                    svg(width='18', height='9')
                        use(xlink:href='#arrow')

mixin news-card(src, title)
    article.card
        a(href="#").card__link
            .card__img-wrap
                img(src= src, width="572", alt= title).card__img
            .card__wrapper
                .h2.card__title= title
                time.date.card__date 19.02.2020

mixin support-card(src, width, link, title)
    article.support-card
        .support-card__img-wrap
            img(src= src, width= width, alt= title).support-card__img
        h2.support-card__title= title
        a(href="#").support-card__link.link= link

mixin logo-item(src, width)
    .logo-item
        a(href="#").logo-item__link
            img(src= src, width= width, alt="logo alt").logo-item__img

mixin table-row()
    tr
        td
            time.pin.pin--size.pin--time 14:00
        td
            p.article-row
                | Europe has been a pioneer in the development of ocean energy technologies
                span Константин Константинопольский, главный инженер  |  EuroSolar Russia

mixin company-card(src, width, name, site, deskr)
    article.company-card
        .company-card__row
            img(src= src, alt= name, width= width).company-card__img
            .company-card__wrapper
                h2.company-card__name= name
                a(href='#').company-card__link= site
                p.company-card__deskr= deskr

mixin project-card(src, width, name, deskr)
    article.project-card
        a(href="#").project-card__link
            .project-card__row
                .project-card__img-wrap
                    img(src= src, alt= name, width= width).project-card__img
                .project-card__wrapper
                    h2.project-card__name= name
                    p.project-card__deskr= deskr

mixin event-card(src, width, name, deskr)
    article.event-card
        a(href="#").event-card__link
            .event-card__row
                .event-card__img-wrap
                    img(src= src, alt= name, width= width).event-card__img
                .event-card__wrapper
                    h2.event-card__name= name
                    .event-card__details
                        time.pin.pin--date 19.02.2020
                        time.pin.pin--time 14:00
                        span.event-type.event-card__event-type Вебинар
                    p.event-card__deskr= deskr

mixin article-card(src, width, name, deskr)
    article.article-card
        a(href="#").article-card__link
            .article-card__row
                .article-card__img-wrap
                    img(src= src, alt= name, width= width).article-card__img
                .article-card__wrapper
                    h2.article-card__name= name
                    .article-card__details
                        time.pin.pin--date 19.02.2020
                        time.pin.pin--lang Eng
                        time.pin.pin--type Категория
                    p.article-card__deskr= deskr

mixin feed-item(title, data)
    article.feed-item
        a(href="#").feed-item__link
            h3.feed-item__title= title
            time(datetime='2020-02-19').feed-item__data= data

mixin slider-item(src)
    .slider__item
        .slider__wrap
            .slider__img-wrap
                img(src= src, alt="slide alt", data-fancybox="images", rel="gallery", data-src= src).slider__img

mixin slider-item-video()
    .slider__item
        .slider__wrap
            a(href="https://www.youtube.com/watch?v=0UbkJ6Izue8&list=PLKaafC45L_SRoYnuEW5cgqHN-kpSTVfMs&index=9&t=228s", aria-label="Открыть видео", data-fancybox).video
                img(src="./assets/img/mock/back-1.jpg" width="385" alt="Название видео").video__img
                button.video__btn.video__btn--slider

mixin main-item(src, width)
    a.main__item(href='#')
        img(src= src, alt='Лого', width= width)